# Nombre del reto: Sistema de recomendación de peliculas 
Se debe preguntar al usuario si desea incluir películas en el archivo (movies.csv) pidiéndole al usuario que ingrese el ID de la película, el título y los géneros de las películas (puede ser uno o muchos). Con la condición de que si el ID de la película y/o el título de la película ya existe, no se puede añadir y se debe reintentar el ingreso de la película.
Cuando se termine de ingresar las películas se debe preguntar al usuario si desea incluir calificaciones de alguna película (ratings.csv) pidiéndole al usuario que ingrese el ID de la persona que hizo la crítica, el ID de la película, la puntuación de las películas y la fecha de la calificación debe quedar registrada como Unix epoch time. Con la condición de que si ya existe una calificación asociada con el ID de la persona y el ID de la película.
Se requiere crear un nuevo dataset con el ID de cada película y su calificación promedio. Después se debe crear un nuevo archivo delimitado por comas llamado average_rating.csv uniendo los datos de movies.csv respectivamente con el nuevo dataset de las calificaciones promedio.
Con base en average_rating.csv se requiere hacer un informe con:
1.	Las 20 mejores y peores películas puntuadas.
2.	La mejor y peor película por cada género.
3. La puntuación promedio por cada género.

Por último, se debe poder buscar una película por ID o por título y mostrar de forma gráfica en qué puesto está con respecto a otras películas de los mismos géneros.

###**Librerias necesarias**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

###**Visualización y descripción de los datos**
El conjunto de datos que se va a utilizar fue extraído de la página de Kaggle y se llama Movie Rating. Este tiene 2 conjuntos de datos, Uno de ellos (movies.csv) contiene en cada fila el ID de la película, el título y los géneros de las películas (puede ser uno o muchos).
El otro (ratings.csv) contiene en cada fila el ID de la persona que colocó la puntuación, el ID de la película, la puntuación de las película y la fecha de la puntuación (marca temporal en formato Unix epoch).

In [2]:
df = pd.read_csv("movies.csv")
df.head(20)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller

In [3]:
#Se renombra las columnas 
df.rename(columns = {'movieId': 'IDpelicula',\
                    'title':'titulo',\
                    'genres':'genero'},
              inplace = True)
df

,IDpelicula,titulo,genero
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [12]:
type(df.IDpelicula.values[-1]+1)

numpy.int64

#Aplicación

In [21]:
# Le pido la informacion al usuario 
import pandas as pd 

informacion_pelicula = {'IDpelicula' : [df.IDpelicula.values[-1]+1] , \
                  'titulo' : input('Ingrese el titulo de la película: '),\
                  'genero' : input('Ingrese los generos de la película separados por |: ')}
nueva_pelicula = pd.DataFrame.from_dict(informacion_pelicula)
nueva_pelicula

Ingrese el titulo de la película: a
Ingrese el genero de la película: b

   IDpelicula titulo genero
0      149533      a      b

In [23]:
df_new = pd.concat([df,nueva_pelicula])

In [27]:
df_new.to_csv('movies.csv', index = False)

In [31]:
df.genero.iloc[0].split('|')

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']

# Pregrama para ingresar solo la película que no esté en el dataset `movies.csv`

In [33]:
def ingresar_pelicula():
    titulo = input('entre el nombre del título de la película: ')
    import pandas as pd
    df = pd.read_csv('movies.csv') 
    indicador = True
    for pelicula in df.titulo:
        if pelicula==titulo:
            indicador = False
    if indicador:         
        informacion_pelicula = {'IDpelicula' : [df.IDpelicula.values[-1]+1] , \
                  'titulo' : titulo,\
                  'genero' : input('Ingrese los generos de la película separados por |: ')}
        nueva_pelicula = pd.DataFrame.from_dict(informacion_pelicula)  
        df_new = pd.concat([df,nueva_pelicula])
        df_new.to_csv('movies.csv', index = False)

In [36]:
ingresar_pelicula()

entre el nombre del título de la película: e
Ingrese los generos de la película separados por |: e|e

In [ ]:
df[df['IDpelicula'] <= 149532] # se saca una matriz con la condicion

In [ ]:
df['IDpelicula'] <= 2   # se saca una columna con valores booleanos

In [ ]:
if df[df['IDpelicula'] <= 149532]:
  
  print('El ID de la pelicula que ingresaste ya existe')

  print('La nueva pelicula ha sido ingresada a la base de datos')

In [ ]:
nuevo_df = df.append(nueva_pelicula, ignore_index=True)
nuevo_df.tail()

#**Segunda base de datos**

In [ ]:
df2 = pd.read_csv("ratings.csv", index = False)
df2

## Referentes   

* construir un dataframe a partir de un diccionario: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.from_dict.html

* para concatenar dataframe: https://pandas.pydata.org/docs/reference/api/pandas.concat.html